[Unit]
Description=Lubega Electricity Theft Detector
After=network.target meter.service
Requires=meter.service

[Service]
Type=simple
User=nfetestpi2
WorkingDirectory=/home/nfetestpi2/Lubega_code/nfe-modbus-energy-logger
EnvironmentFile=/home/nfetestpi2/Lubega_code/nfe-modbus-energy-logger/.env
ExecStart=/home/nfetestpi2/Lubega_code/nfe-modbus-energy-logger/venv/bin/python detect.py
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
